name: Recordatorios coche

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  ntfy-notification:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: { node-version: 20 }
      - name: Enviar notificaciones Ntfy
        run: node .github/scripts/sendNtfy.js
